.faq {
    padding: 5.6vw;
  
    .title {
      text-align: center;
      margin-bottom: 24px;
      color: white;
    }
  
    &__questions {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    &__questions__item {
      margin-bottom: 20px;
      border: 1px solid #13151d;
      border-radius: 4px;
      overflow: hidden;
  
      &--is-open {
        .faq__questions__item__answer {
          display: block;
          height: auto;
        }
      }
  
      &__question {
        padding: 16px;
        cursor: pointer;
        background-color: #f9f9f9;
        border-bottom: 1px solid #13151d;
        color: white;
        background-color: #13151d // background escuro para contraste
      }
  
      &__answer {
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease;
        color: white;
        background-color: #13151d; // background escuro para contraste
  
        &.text--big {
          font-size: 1.2em;
        }
  
        ul {
          list-style-type: disc;
          padding-left: 20px;
        }
  
        li {
          margin-bottom: 10px;
        }
      }
    }
  }
  