// Importar variáveis e módulos
@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'plans';
@use 'available-devices';
@use 'faq';
@use 'footer';
@use 'header';

// Reset de estilo global
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: avenir, sans-serif;
    list-style: none;
}

// Fontes
@font-face {
    font-family: avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

// Corpo
body {
    background-color: variaveis.$corDeFundo;
}

// Mixins
@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: calc(#{$fontSize} + 10px);
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}

// Estilos para texto e títulos
.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.link-text {
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}

.title--big {
    @include title(44px);
}

.title {
    @include title;
}

.title--small {
    @include title(28px);
}

// Cabeçalho
.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variaveis.$corDeFundo;
    transition: background-color 0.3s, padding 0.3s;

    &--is-hidden {
        background-color: transparent;
        padding: 8px 36px;

        &__logo, &__links__item:first-child {
            opacity: 0;
            transition: opacity 0.3s;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 36px;
    }

    &__logo {
        max-width: 80px;
        width: 100%;
    }

    &__links {
        display: flex;
        align-items: center;

        &__item {
            margin-left: 15px;
            margin: 5px;
            transition: opacity 0.3s;
        }
    }

    .button {
        height: 50px;
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 4px;
        text-decoration: none;
        padding: 8px 14px;
        letter-spacing: 1px;
        border: 1px solid;

        &--secundary {
            background-color: variaveis.$corDeFundoBotaoSecundario;
            border-color: variaveis.$corDeFundoBotaoSecundario;
            color: variaveis.$corTextoSecundario;
        }

        &--dark {
            background-color: rgba(variaveis.$corDeFundoBotaoDark, 0.8);
            border-color: variaveis.$corTextoSecundario;
            color: variaveis.$corTextoSecundario;
        }
    }
}

// Seção Hero
.hero {
    padding: 3.0vw;
    min-height: 50vh;
    background-image: url(../images/hero_desktop.jpeg);
    background-size: cover;
    background-position: left center;
    text-align: left;

    &__content {
        max-width: 600px;
        margin: 0;
    }

    &__branding {
        max-width: 280px;
        margin: 0 0 30px;
    }

    .title--small {
        margin-bottom: 48px;
    }

    p {
        margin-bottom: 16px;
    }

    &__combos {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        &__combo {
            width: 100%;
            max-width: 300px;
            margin: 0 auto;

            img {
                max-width: 100%;
                height: auto;
                display: block;
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 50px;
                font-size: 16px;
                color: variaveis.$corTextoSecundario;
                background-color: variaveis.$corDeFundoBotaoPrimario;
                text-transform: uppercase;
                border-radius: 4px;
                text-decoration: none;
                padding: 8px 14px;
                letter-spacing: 1px;
                border: 1px solid variaveis.$corDeFundoBotaoPrimario;

                &--secundary {
                    background-color: variaveis.$corDeFundoBotaoSecundario;
                    border-color: variaveis.$corDeFundoBotaoSecundario;

                    &:hover {
                        background-color: lighten(variaveis.$corDeFundoBotaoSecundario, 3%);
                    }
                }

                &--dark {
                    background-color: rgba(0, 0, 0, 0.8);
                    border-color: variaveis.$corTextoSecundario;

                    &:hover {
                        background-color: variaveis.$corTextoSecundario;
                        color: variaveis.$corDeFundo;
                    }
                }
            }
        }
    }
}

// Responsividade
@media (max-width: 1024px) {
    .hero {
        padding: 5vw;
        background-position: center;

        &__content {
            max-width: 500px;
        }

        &__branding {
            max-width: 200px;
        }

        &__combos__combo {
            width: 100%;
            max-width: none;
            margin: 0 auto;
        }
    }

    .header {
        &__container {
            padding: 8px 24px;
        }
    }
}

@media (max-width: 768px) {
    .hero__combos {
        flex-direction: column;
        align-items: center;
    }

    .hero__combos__combo {
        width: 80%;
        margin-bottom: 20px;
    }

    .header {
        &__container {
            flex-direction: column;
            align-items: flex-start;
        }

        &__logo {
            max-width: 60px;
        }

        &__links {
            margin-top: 10px;

            &__item {
                margin-left: 10px;
                margin-bottom: 10px;
            }
        }
    }
}

@media (max-width: 480px) {
    .title--big {
        @include title(36px);
    }

    .text--big {
        @include text(16px);
    }

    .header {
        &__container {
            padding: 8px 16px;
        }

        &__logo {
            max-width: 50px;
        }

        &__links {
            &__item {
                font-size: 14px;
            }
        }
    }
}

// Seção de imagem e texto
.image-text-section {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    img {
        max-width: 100%;
    }

    &__text_container {
        padding: 0 2vw;
    }

    h2 {
        margin-bottom: 24px;
    }

    &--image-full-width {
        display: block;
        position: relative;

        img {
            width: 100%;
        }

        &__text_container {
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: calc(50% - 5.6vw);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
